<h2>コメント一覧</h2>
<% @article.comments.each do |c| %>
  <p>
    <%= c.user.nickname %>
    <%= c.comment %>

    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id || current_user.id == c.user_id %>
        <%= button_to '削除', article_comment_path(@article, c), method: :delete %>
      <% end %>
    <% end %>
  </p>

<% end %>