<body class="container-fluid">

  <div class="row jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-3">日記を書いてみませんか？</h1>
      <p class="lead">1日を思い出すことで記憶を整理して脳を休める効果があります。</p>
    </div>
  </div>
  <div class="row">
    <nav id="sidebar" style="padding-bottom:550px" class=" col-md-2 d-md-block bg-secondary sidebar_fixed collapse">
      <h6 class="d-flex justify-content-between px-5 mt-4 mb-1 text-light">
        <span>作成履歴</span>
        <a class="d-flex align-items-center text-light" href="#" aria-label="Add a new report">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        </a>
      </h6>
      <% @articles.each do |article| %>
        <ul class="flex-column mb-2">
          <li class="nav-item">
            <%= link_to article.title, article_path(article), class: "nav-link active text-truncate" %>
          </li>
        </ul>
      <% end %>
    </nav>

    <div class="col-md-10 bg-light" style="padding-bottom:550px">
      <p class="h2 text-center"><新着記事></h1>
        <% @articles.each do |article| %>
        <ul id="newlist" class="flex-column mb-2 ml-3">
          <li class="nav-item">
            <%= link_to article.title, article_path(article), class: "nav-link active text-truncate" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

</body>