<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

<%= link_to '記事の編集', edit_article_path(@article) %>

<%= link_to 'トップページに戻る', root_path %>