  <div class="container">
    <div class="nav nav-tabs bg-dark text-right" role="tablist">
      <a class="nav-item nav-link active" id="dmain-tab" data-toggle="tab" href="#dmain" role="tab" aria-controls="dmain" aria-selected="true">
        メイン</a>
      <a class="nav-item nav-link" id="dnew-tab" data-toggle="tab" href="#dnew" role="tab" aria-controls="dnew" aria-selected="true">
        新着一覧</a>
      <a class="nav-item nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">
        投稿履歴</a>
      <a class="nav-item nav-link" id="friend-tab" data-toggle="tab" href="#friend" role="tab" aria-controls="friend" aria-selected="true">
        友達リスト</a>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active border border-top-0" id="dmain" role="tabpanel" aria-labelledby="dmain-tab">
        <%= render 'shared/dmain'%>
      </div>
      <div class="tab-pane fade show border border-top-0" id="dnew" role="tabpanel" aria-labelledby="dnew-tab">
        <%= render 'shared/dnew'%>
      </div>
      <div class="tab-pane fade show border border-top-0" id="history" role="tabpanel" aria-labelledby="history-tab">
        <%= render 'shared/history'%>
      </div>
      <div class="tab-pane fade show border border-top-0" id="friend" role="tabpanel" aria-labelledby="friend-tab">
        <%= render 'shared/friend'%>
      </div>

    </div>
  </div>


